certifi==2018.10.15
Click==7.0
elastic-apm==6.8.1
elasticsearch==8.1.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
pystache==0.5.4
python-json-logger==2.0.2
urllib3==1.26.9
Werkzeug==0.14.1
charset-normalizer==2.0.12
requests==2.27.1
